<section class="section-catalog">
    <div class="container">
        <h2 class="catalog-title" id="catalog">Catalog</h2>
        <Ul class="catalog-list">
            <li class="catalog-list-item">
                <div class="image-description-wrap">
                    <picture>
                        <source srcset="./img/catalog/desc-tablet/watch1.jpg 1x,
                                ./img/catalog/desc-tablet/watch1@2x.jpg 2x
                                "
                                media="(min-width: 768px)" 
                                />
                        <source srcset="
                                ./img/catalog/mobile/watch1.jpg 1x,
                                ./img/catalog/mobile/watch1@2x.jpg 2x
                                "
                                media="(max-width: 767px)"
                                />
                                <img 
                                class="catalog-list-image" 
                                src="./img/catalog/desc-tablet/watch1.jpg"
                                srcset="./img/catalog/desc-tablet/watch1@2x.jpg 2x" 
                                width="276" 
                                height="275"
                                loading="lazy" alt="photo of watch">
                    </picture>   
                        <ul class="decription-wrap-list">
                            <li class="description-item">
                                <h3 class="description-title">DESCRIPTION</h3>
                                <p class="description-list-text">Richly detailed with an understated design - the Police Men’s Greenlane watch.</p>
                                </li>
                            <li class="description-item">
                                <h3 class="description-title">DETAILS &#38; FEATURESTION</h3>
                                <ul class="description-list">
                                    <li class="description-list-item"><p class="description-list-text">Gender: man</p></li>
                                    <li class="description-list-item"><p class="description-list-text">Size: 46x54.5mm</p></li>
                                    <li class="description-list-item"><p class="description-list-text">Case Colour: Steel</p></li>
                                    <li class="description-list-item"><p class="description-list-text">Band Material: Metal</p></li>
                                    <li class="description-list-item"><p class="description-list-text">Case Material: Metal</p></li>
                                    <li class="description-list-item"><p class="description-list-text">Features: Multifunction</p></li>
                                    <li class="description-list-item"><p class="description-list-text">Water Resistant: 5 (ATM)</p></li>
                                    <li class="description-list-item"><p class="description-list-text">Band Colour: Steel</p></li>
                                </ul>        
                            </li>
                        </ul>
                </div>
                <p class="catalog-watch-name">Tube Watch S42 Date Steel With Black Case</p>
                <span class="catalog-watch-price">&#x20ac;395</span>
             </li>
             <li class="catalog-list-item">
                <div class="image-description-wrap">
                    <picture>
                        <source srcset="./img/catalog/desc-tablet/watch2.jpg 1x,
                                ./img/catalog/desc-tablet/watch2@2x.jpg 2x
                                "
                                media="(min-width: 768px)" 
                                />
                        <source srcset="
                                ./img/catalog/mobile/watch2.jpg 1x,
                                ./img/catalog/mobile/watch2@2x.jpg 2x
                                "
                                media="(max-width: 767px)"
                                />
                                <img 
                                class="catalog-list-image" 
                                src="./img/catalog/desc-tablet/watch2.jpg"
                                srcset="./img/catalog/desc-tablet/watch2@2x.jpg 2x" 
                                width="276" 
                                height="275"
                                loading="lazy" alt="photo of watch">
                    </picture>   
                        <ul class="decription-wrap-list">
                            <li class="description-item">
                                <h3 class="description-title">DESCRIPTION</h3>
                                <p class="description-list-text">Richly detailed with an understated design - the Police Men’s Greenlane watch.</p>
                                </li>
                            <li class="description-item">
                                <h3 class="description-title">DETAILS &#38; FEATURESTION</h3>
                                <ul class="description-list">
                                    <li class="description-list-item"><p class="description-list-text">Gender: man</p></li>
                                    <li class="description-list-item"><p class="description-list-text">Size: 46x54.5mm</p></li>
                                    <li class="description-list-item"><p class="description-list-text">Case Colour: Steel</p></li>
                                    <li class="description-list-item"><p class="description-list-text">Band Material: Metal</p></li>
                                    <li class="description-list-item"><p class="description-list-text">Case Material: Metal</p></li>
                                    <li class="description-list-item"><p class="description-list-text">Features: Multifunction</p></li>
                                    <li class="description-list-item"><p class="description-list-text">Water Resistant: 5 (ATM)</p></li>
                                    <li class="description-list-item"><p class="description-list-text">Band Colour: Steel</p></li>
                                </ul>        
                            </li>
                        </ul>
                </div>
                <p class="catalog-watch-name">Avondale Watch Police For Men</p>
                <span class="catalog-watch-price">&#x20ac;800</span>
             </li>
             <li class="catalog-list-item">
                <div class="image-description-wrap">
                    <picture>
                        <source srcset="./img/catalog/desc-tablet/watch3.jpg 1x,
                                ./img/catalog/desc-tablet/watch3@2x.jpg 2x
                                "
                                media="(min-width: 768px)" 
                                />
                        <source srcset="
                                ./img/catalog/mobile/watch3.jpg 1x,
                                ./img/catalog/mobile/watch3@2x.jpg 2x
                                "
                                media="(max-width: 767px)"
                                />
                                <img 
                                class="catalog-list-image" 
                                src="./img/catalog/desc-tablet/watch3.jpg"
                                srcset="./img/catalog/desc-tablet/watch3@2x.jpg 2x" 
                                width="276" 
                                height="275"
                                loading="lazy" alt="photo of watch">
                    </picture>   
                        <ul class="decription-wrap-list">
                            <li class="description-item">
                                <h3 class="description-title">DESCRIPTION</h3>
                                <p class="description-list-text">Richly detailed with an understated design - the Police Men’s Greenlane watch.</p>
                                </li>
                            <li class="description-item">
                                <h3 class="description-title">DETAILS &#38; FEATURESTION</h3>
                                <ul class="description-list">
                                    <li class="description-list-item"><p class="description-list-text">Gender: man</p></li>
                                    <li class="description-list-item"><p class="description-list-text">Size: 46x54.5mm</p></li>
                                    <li class="description-list-item"><p class="description-list-text">Case Colour: Steel</p></li>
                                    <li class="description-list-item"><p class="description-list-text">Band Material: Metal</p></li>
                                    <li class="description-list-item"><p class="description-list-text">Case Material: Metal</p></li>
                                    <li class="description-list-item"><p class="description-list-text">Features: Multifunction</p></li>
                                    <li class="description-list-item"><p class="description-list-text">Water Resistant: 5 (ATM)</p></li>
                                    <li class="description-list-item"><p class="description-list-text">Band Colour: Steel</p></li>
                                </ul>        
                            </li>
                        </ul>
                </div>
                <p class="catalog-watch-name">Diver  300M Co‑Axial Master Chronometer Chronograph</p>
                <span class="catalog-watch-price">&#x20ac;600</span>
             </li>
             <li class="catalog-list-item">
                <div class="image-description-wrap">
                    <picture>
                        <source srcset="./img/catalog/desc-tablet/watch4.jpg 1x,
                                ./img/catalog/desc-tablet/watch4@2x.jpg 2x
                                "
                                media="(min-width: 768px)" 
                                />
                        <source srcset="
                                ./img/catalog/mobile/watch4.jpg 1x,
                                ./img/catalog/mobile/watch4@2x.jpg 2x
                                "
                                media="(max-width: 767px)"
                                />
                                <img 
                                class="catalog-list-image" 
                                src="./img/catalog/desc-tablet/watch4.jpg"
                                srcset="./img/catalog/desc-tablet/watch4@2x.jpg 2x" 
                                width="276" 
                                height="275"
                                loading="lazy" alt="photo of watch">
                    </picture>   
                        <ul class="decription-wrap-list">
                            <li class="description-item">
                                <h3 class="description-title">DESCRIPTION</h3>
                                <p class="description-list-text">Richly detailed with an understated design - the Police Men’s Greenlane watch.</p>
                                </li>
                            <li class="description-item">
                                <h3 class="description-title">DETAILS &#38; FEATURESTION</h3>
                                <ul class="description-list">
                                    <li class="description-list-item"><p class="description-list-text">Gender: man</p></li>
                                    <li class="description-list-item"><p class="description-list-text">Size: 46x54.5mm</p></li>
                                    <li class="description-list-item"><p class="description-list-text">Case Colour: Steel</p></li>
                                    <li class="description-list-item"><p class="description-list-text">Band Material: Metal</p></li>
                                    <li class="description-list-item"><p class="description-list-text">Case Material: Metal</p></li>
                                    <li class="description-list-item"><p class="description-list-text">Features: Multifunction</p></li>
                                    <li class="description-list-item"><p class="description-list-text">Water Resistant: 5 (ATM)</p></li>
                                    <li class="description-list-item"><p class="description-list-text">Band Colour: Steel</p></li>
                                </ul>        
                            </li>
                        </ul>
                </div>
                <p class="catalog-watch-name">Diver 300M Co-Axial Master Chronometer </p>
                <span class="catalog-watch-price">&#x20ac;1400</span>
             </li>
             <li class="catalog-list-item">
                <div class="image-description-wrap">
                    <picture>
                        <source srcset="./img/catalog/desc-tablet/watch5.jpg 1x,
                                ./img/catalog/desc-tablet/watch5@2x.jpg 2x
                                "
                                media="(min-width: 768px)" 
                                />
                        <source srcset="
                                ./img/catalog/mobile/watch5.jpg 1x,
                                ./img/catalog/mobile/watch5@2x.jpg 2x
                                "
                                media="(max-width: 767px)"
                                />
                                <img 
                                class="catalog-list-image" 
                                src="./img/catalog/desc-tablet/watch5.jpg"
                                srcset="./img/catalog/desc-tablet/watch5@2x.jpg 2x" 
                                width="276" 
                                height="275"
                                loading="lazy" alt="photo of watch">
                        </picture>   
                        <ul class="decription-wrap-list">
                            <li class="description-item">
                                <h3 class="description-title">DESCRIPTION</h3>
                                <p class="description-list-text">Richly detailed with an understated design - the Police Men’s Greenlane watch.</p>
                                </li>
                            <li class="description-item">
                                <h3 class="description-title">DETAILS &#38; FEATURESTION</h3>
                                <ul class="description-list">
                                    <li class="description-list-item"><p class="description-list-text">Gender: man</p></li>
                                    <li class="description-list-item"><p class="description-list-text">Size: 46x54.5mm</p></li>
                                    <li class="description-list-item"><p class="description-list-text">Case Colour: Steel</p></li>
                                    <li class="description-list-item"><p class="description-list-text">Band Material: Metal</p></li>
                                    <li class="description-list-item"><p class="description-list-text">Case Material: Metal</p></li>
                                    <li class="description-list-item"><p class="description-list-text">Features: Multifunction</p></li>
                                    <li class="description-list-item"><p class="description-list-text">Water Resistant: 5 (ATM)</p></li>
                                    <li class="description-list-item"><p class="description-list-text">Band Colour: Steel</p></li>
                                </ul>        
                            </li>
                        </ul>
                </div>
                <p class="catalog-watch-name">Taman Watch By Police For Men</p>
                <span class="catalog-watch-price">&#x20ac;500</span>
             </li>
             <li class="catalog-list-item">
                <div class="image-description-wrap">
                    <picture>
                        <source srcset="./img/catalog/desc-tablet/watch6.jpg 1x,
                                ./img/catalog/desc-tablet/watch6@2x.jpg 2x
                                "
                                media="(min-width: 768px)" 
                                />
                        <source srcset="
                                ./img/catalog/mobile/watch6.jpg 1x,
                                ./img/catalog/mobile/watch6@2x.jpg 2x
                                "
                                media="(max-width: 767px)"
                                />
                                <img 
                                class="catalog-list-image" 
                                src="./img/catalog/desc-tablet/watch6.jpg"
                                srcset="./img/catalog/desc-tablet/watch6@2x.jpg 2x" 
                                width="276" 
                                height="275"
                                loading="lazy" alt="photo of watch">
                    </picture>   
                        <ul class="decription-wrap-list">
                            <li class="description-item">
                                <h3 class="description-title">DESCRIPTION</h3>
                                <p class="description-list-text">Richly detailed with an understated design - the Police Men’s Greenlane watch.</p>
                                </li>
                            <li class="description-item">
                                <h3 class="description-title">DETAILS &#38; FEATURESTION</h3>
                                <ul class="description-list">
                                    <li class="description-list-item"><p class="description-list-text">Gender: man</p></li>
                                    <li class="description-list-item"><p class="description-list-text">Size: 46x54.5mm</p></li>
                                    <li class="description-list-item"><p class="description-list-text">Case Colour: Steel</p></li>
                                    <li class="description-list-item"><p class="description-list-text">Band Material: Metal</p></li>
                                    <li class="description-list-item"><p class="description-list-text">Case Material: Metal</p></li>
                                    <li class="description-list-item"><p class="description-list-text">Features: Multifunction</p></li>
                                    <li class="description-list-item"><p class="description-list-text">Water Resistant: 5 (ATM)</p></li>
                                    <li class="description-list-item"><p class="description-list-text">Band Colour: Steel</p></li>
                                </ul>        
                            </li>
                        </ul>
                </div>
                <p class="catalog-watch-name">Malawi Watch Police For Men</p>
                <span class="catalog-watch-price">&#x20ac;555</span>
             </li>
             <li class="catalog-list-item">
                <div class="image-description-wrap">
                    <picture>
                        <source srcset="./img/catalog/desc-tablet/watch7.jpg 1x,
                                ./img/catalog/desc-tablet/watch7@2x.jpg 2x
                                "
                                media="(min-width: 768px)" 
                                />
                        <source srcset="
                                ./img/catalog/mobile/watch7.jpg 1x,
                                ./img/catalog/mobile/watch7@2x.jpg 2x
                                "
                                media="(max-width: 767px)"
                                />
                                <img 
                                class="catalog-list-image" 
                                src="./img/catalog/desc-tablet/watch7.jpg"
                                srcset="./img/catalog/desc-tablet/watch7@2x.jpg 2x" 
                                width="276" 
                                height="275"
                                loading="lazy" alt="photo of watch">
                    </picture>   
                        <ul class="decription-wrap-list">
                            <li class="description-item">
                                <h3 class="description-title">DESCRIPTION</h3>
                                <p class="description-list-text">Richly detailed with an understated design - the Police Men’s Greenlane watch.</p>
                                </li>
                            <li class="description-item">
                                <h3 class="description-title">DETAILS &#38; FEATURESTION</h3>
                                <ul class="description-list">
                                    <li class="description-list-item"><p class="description-list-text">Gender: man</p></li>
                                    <li class="description-list-item"><p class="description-list-text">Size: 46x54.5mm</p></li>
                                    <li class="description-list-item"><p class="description-list-text">Case Colour: Steel</p></li>
                                    <li class="description-list-item"><p class="description-list-text">Band Material: Metal</p></li>
                                    <li class="description-list-item"><p class="description-list-text">Case Material: Metal</p></li>
                                    <li class="description-list-item"><p class="description-list-text">Features: Multifunction</p></li>
                                    <li class="description-list-item"><p class="description-list-text">Water Resistant: 5 (ATM)</p></li>
                                    <li class="description-list-item"><p class="description-list-text">Band Colour: Steel</p></li>
                                </ul>        
                            </li>
                        </ul>
                </div>
                <p class="catalog-watch-name">Diver 300M Co-Axial Master Chronometer </p>
                <span class="catalog-watch-price">&#x20ac;1200</span>
             </li>
             <li class="catalog-list-item">
                <div class="image-description-wrap">
                    <picture>
                        <source srcset="./img/catalog/desc-tablet/watch8.jpg 1x,
                                ./img/catalog/desc-tablet/watch8@2x.jpg 2x
                                "
                                media="(min-width: 768px)" 
                                />
                        <source srcset="
                                ./img/catalog/mobile/watch8.jpg 1x,
                                ./img/catalog/mobile/watch8@2x.jpg 2x
                                "
                                media="(max-width: 767px)"
                                />
                                <img 
                                class="catalog-list-image" 
                                src="./img/catalog/desc-tablet/watch8.jpg"
                                srcset="./img/catalog/desc-tablet/watch8@2x.jpg 2x" 
                                width="276" 
                                height="275"
                                loading="lazy" alt="photo of watch">
                    </picture>   
                        <ul class="decription-wrap-list">
                            <li class="description-item">
                                <h3 class="description-title">DESCRIPTION</h3>
                                <p class="description-list-text">Richly detailed with an understated design - the Police Men’s Greenlane watch.</p>
                                </li>
                            <li class="description-item">
                                <h3 class="description-title">DETAILS &#38; FEATURESTION</h3>
                                <ul class="description-list">
                                    <li class="description-list-item"><p class="description-list-text">Gender: man</p></li>
                                    <li class="description-list-item"><p class="description-list-text">Size: 46x54.5mm</p></li>
                                    <li class="description-list-item"><p class="description-list-text">Case Colour: Steel</p></li>
                                    <li class="description-list-item"><p class="description-list-text">Band Material: Metal</p></li>
                                    <li class="description-list-item"><p class="description-list-text">Case Material: Metal</p></li>
                                    <li class="description-list-item"><p class="description-list-text">Features: Multifunction</p></li>
                                    <li class="description-list-item"><p class="description-list-text">Water Resistant: 5 (ATM)</p></li>
                                    <li class="description-list-item"><p class="description-list-text">Band Colour: Steel</p></li>
                                </ul>        
                            </li>
                        </ul>
                </div>
                <p class="catalog-watch-name">Greenlane Watch By Police For Men</p>
                <span class="catalog-watch-price">&#x20ac;1000</span>
             </li>
             <li class="catalog-list-item">
                <div class="image-description-wrap">
                    <picture>
                        <source srcset="./img/catalog/desc-tablet/watch9.jpg 1x,
                                ./img/catalog/desc-tablet/watch9@2x.jpg 2x
                                "
                                media="(min-width: 768px)" 
                                />
                        <source srcset="
                                ./img/catalog/mobile/watch9.jpg 1x,
                                ./img/catalog/mobile/watch9@2x.jpg 2x
                                "
                                media="(max-width: 767px)"
                                />
                                <img 
                                class="catalog-list-image" 
                                src="./img/catalog/desc-tablet/watch9.jpg"
                                srcset="./img/catalog/desc-tablet/watch9@2x.jpg 2x" 
                                width="276" 
                                height="275"
                                loading="lazy" alt="photo of watch">
                    </picture>   
                        <ul class="decription-wrap-list">
                            <li class="description-item">
                                <h3 class="description-title">DESCRIPTION</h3>
                                <p class="description-list-text">Richly detailed with an understated design - the Police Men’s Greenlane watch.</p>
                                </li>
                            <li class="description-item">
                                <h3 class="description-title">DETAILS &#38; FEATURESTION</h3>
                                <ul class="description-list">
                                    <li class="description-list-item"><p class="description-list-text">Gender: man</p></li>
                                    <li class="description-list-item"><p class="description-list-text">Size: 46x54.5mm</p></li>
                                    <li class="description-list-item"><p class="description-list-text">Case Colour: Steel</p></li>
                                    <li class="description-list-item"><p class="description-list-text">Band Material: Metal</p></li>
                                    <li class="description-list-item"><p class="description-list-text">Case Material: Metal</p></li>
                                    <li class="description-list-item"><p class="description-list-text">Features: Multifunction</p></li>
                                    <li class="description-list-item"><p class="description-list-text">Water Resistant: 5 (ATM)</p></li>
                                    <li class="description-list-item"><p class="description-list-text">Band Colour: Steel</p></li>
                                </ul>        
                            </li>
                        </ul>
                </div>
                <p class="catalog-watch-name">Squardrc 5402 Chrono</p>
                <span class="catalog-watch-price">&#x20ac;359</span>
             </li>
             <li class="catalog-list-item">
                <div class="image-description-wrap">
                    <picture>
                        <source srcset="./img/catalog/desc-tablet/watch10.jpg 1x,
                                ./img/catalog/desc-tablet/watch10@2x.jpg 2x
                                "
                                media="(min-width: 768px)" 
                                />
                        <source srcset="
                                ./img/catalog/mobile/watch10.jpg 1x,
                                ./img/catalog/mobile/watch10@2x.jpg 2x
                                "
                                media="(max-width: 767px)"
                                />
                                <img 
                                class="catalog-list-image" 
                                src="./img/catalog/desc-tablet/watch10.jpg"
                                srcset="./img/catalog/desc-tablet/watch10@2x.jpg 2x" 
                                width="276" 
                                height="275"
                                loading="lazy" alt="photo of watch">
                    </picture>   
                        <ul class="decription-wrap-list">
                            <li class="description-item">
                                <h3 class="description-title">DESCRIPTION</h3>
                                <p class="description-list-text">Richly detailed with an understated design - the Police Men’s Greenlane watch.</p>
                                </li>
                            <li class="description-item">
                                <h3 class="description-title">DETAILS &#38; FEATURESTION</h3>
                                <ul class="description-list">
                                    <li class="description-list-item"><p class="description-list-text">Gender: man</p></li>
                                    <li class="description-list-item"><p class="description-list-text">Size: 46x54.5mm</p></li>
                                    <li class="description-list-item"><p class="description-list-text">Case Colour: Steel</p></li>
                                    <li class="description-list-item"><p class="description-list-text">Band Material: Metal</p></li>
                                    <li class="description-list-item"><p class="description-list-text">Case Material: Metal</p></li>
                                    <li class="description-list-item"><p class="description-list-text">Features: Multifunction</p></li>
                                    <li class="description-list-item"><p class="description-list-text">Water Resistant: 5 (ATM)</p></li>
                                    <li class="description-list-item"><p class="description-list-text">Band Colour: Steel</p></li>
                                </ul>        
                            </li>
                        </ul>
                </div>
                <p class="catalog-watch-name">Diver  300M Co‑Axial Master Chronometer Chronograph</p>
                <span class="catalog-watch-price">&#x20ac;400</span>
             </li>
             <li class="catalog-list-item">
                <div class="image-description-wrap">
                    <picture>
                        <source srcset="./img/catalog/desc-tablet/watch11.jpg 1x,
                                ./img/catalog/desc-tablet/watch11@2x.jpg 2x
                                "
                                media="(min-width: 768px)" 
                                />
                        <source srcset="
                                ./img/catalog/mobile/watch11.jpg 1x,
                                ./img/catalog/mobile/watch11@2x.jpg 2x
                                "
                                media="(max-width: 767px)"
                                />
                                <img 
                                class="catalog-list-image" 
                                src="./img/catalog/desc-tablet/watch11.jpg"
                                srcset="./img/catalog/desc-tablet/watch11@2x.jpg 2x" 
                                width="276" 
                                height="275"
                                loading="lazy" alt="photo of watch">
                    </picture>   
                        <ul class="decription-wrap-list">
                            <li class="description-item">
                                <h3 class="description-title">DESCRIPTION</h3>
                                <p class="description-list-text">Richly detailed with an understated design - the Police Men’s Greenlane watch.</p>
                                </li>
                            <li class="description-item">
                                <h3 class="description-title">DETAILS &#38; FEATURESTION</h3>
                                <ul class="description-list">
                                    <li class="description-list-item"><p class="description-list-text">Gender: man</p></li>
                                    <li class="description-list-item"><p class="description-list-text">Size: 46x54.5mm</p></li>
                                    <li class="description-list-item"><p class="description-list-text">Case Colour: Steel</p></li>
                                    <li class="description-list-item"><p class="description-list-text">Band Material: Metal</p></li>
                                    <li class="description-list-item"><p class="description-list-text">Case Material: Metal</p></li>
                                    <li class="description-list-item"><p class="description-list-text">Features: Multifunction</p></li>
                                    <li class="description-list-item"><p class="description-list-text">Water Resistant: 5 (ATM)</p></li>
                                    <li class="description-list-item"><p class="description-list-text">Band Colour: Steel</p></li>
                                </ul>        
                            </li>
                        </ul>
                </div>
                <p class="catalog-watch-name">Citizen</p>
                <span class="catalog-watch-price">&#x20ac;519</span>
             </li>
             <li class="catalog-list-item">
                <div class="image-description-wrap">
                    <picture>
                        <source srcset="./img/catalog/desc-tablet/watch12.jpg 1x,
                                ./img/catalog/desc-tablet/watch12@2x.jpg 2x
                                "
                                media="(min-width: 768px)" 
                                />
                        <source srcset="
                                ./img/catalog/mobile/watch12.jpg 1x,
                                ./img/catalog/mobile/watch12@2x.jpg 2x
                                "
                                media="(max-width: 767px)"
                                />
                                <img 
                                class="catalog-list-image" 
                                src="./img/catalog/desc-tablet/watch12.jpg"
                                srcset="./img/catalog/desc-tablet/watch12@2x.jpg 2x" 
                                width="276" 
                                height="275"
                                loading="lazy" alt="photo of watch">
                    </picture>   
                        <ul class="decription-wrap-list">
                            <li class="description-item">
                                <h3 class="description-title">DESCRIPTION</h3>
                                <p class="description-list-text">Richly detailed with an understated design - the Police Men’s Greenlane watch.</p>
                                </li>
                            <li class="description-item">
                                <h3 class="description-title">DETAILS &#38; FEATURESTION</h3>
                                <ul class="description-list">
                                    <li class="description-list-item"><p class="description-list-text">Gender: man</p></li>
                                    <li class="description-list-item"><p class="description-list-text">Size: 46x54.5mm</p></li>
                                    <li class="description-list-item"><p class="description-list-text">Case Colour: Steel</p></li>
                                    <li class="description-list-item"><p class="description-list-text">Band Material: Metal</p></li>
                                    <li class="description-list-item"><p class="description-list-text">Case Material: Metal</p></li>
                                    <li class="description-list-item"><p class="description-list-text">Features: Multifunction</p></li>
                                    <li class="description-list-item"><p class="description-list-text">Water Resistant: 5 (ATM)</p></li>
                                    <li class="description-list-item"><p class="description-list-text">Band Colour: Steel</p></li>
                                </ul>        
                            </li>
                        </ul>
                </div>
                <p class="catalog-watch-name">Armani Exchange</p>
                <span class="catalog-watch-price">&#x20ac;400</span>
             </li>
        </Ul>
        <button type="button" class="catalog-modal-button" data-modal-open>BUY NOW</button>
    </div>
</section>