<div class="container header-container">
  <a href="./index.html" class="logo"
    ><img
      src="./images/logo.svg"
      alt="site logo"
      class="logo-icon"
    />thewatchspot</a
  >
  <button
    type="button"
    class="header-menu-btn btn js-open-menu"
    aria-expanded="false"
    aria-controls="mobile-menu"
  >
    <svg width="20" height="14">
      <use href="./images/icons.svg#icon-bg-menu"></use>
    </svg>
  </button>
  <!-- ==== Mobile menu =========== -->
  <div class="mob-menu js-menu-container" id="mobile-menu">
    <div class="mob-menu-header">
      <a href="./index.html" class="logo link"
        ><img
          src="./images/logo.svg"
          alt="site logo"
          class="logo-icon"
          width="22px"
        />thewatchspot</a
      >
      <button type="button" class="mob-close-btn js-close-menu">
        <svg class="mob-icon-close" width="24px" height="24px">
          <use href="./images/icons.svg#icon-x-close"></use>
        </svg>
      </button>
    </div>
    <nav class="mob-header-nav">
      <ul class="mob-nav-list list">
        <li class="mob-nav-list-item">
          <a href="#about" class="mob-nav-list-item-link link js-mob-nav-list"
            >About us</a
          >
        </li>
        <li class="mob-nav-list-item">
          <a href="#catalog" class="mob-nav-list-item-link link js-mob-nav-list"
            >Catalog</a
          >
        </li>
        <li class="mob-nav-list-item">
          <a href="#sale" class="mob-nav-list-item-link link js-mob-nav-list"
            >Sale</a
          >
        </li>
      </ul>
    </nav>
  </div>
  <!-- =============================================================== -->
  <nav class="header-nav">
    <ul class="nav-list list">
      <li>
        <a href="#about" class="nav-list-item link">About us</a>
      </li>
      <li>
        <a href="#catalog" class="nav-list-item link">Catalog</a>
      </li>
      <li><a href="#sale" class="nav-list-item link">Sale</a></li>
    </ul>
  </nav>
  <address class="contacts">
    <a href="tel:+380684439426" class="contacts-tel link"
      >+380 (68) 443-94-26</a
    >
  </address>
</div>
