<section class="hero">
  <div class="container hero-container">
    <h1 class="hero-title">Welcome to our collection of premium watches</h1>
    <div class="hero-content-wrap">
      <!-- SLIDER -->
      <div>
        <div class="swiper mySwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <picture class="images-wrapper">
                <source
                  srcset="
                    ./img/hero/slide-1.png    1x,
                    ./img/hero/slide-1-2x.png 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/hero/slide-1-mob.png    1x,
                    ./img/hero/slide-1-mob-2x.png 2x
                  "
                  media="(min-width: 320px)"
                />
                <img
                  class="swiper-images"
                  src="./img/hero/slide-1-mob.png"
                  alt="Slide-1"
                  width="226"
                  height="190"
                />
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source
                  srcset="
                    ./img/hero/slide-2.png    1x,
                    ./img/hero/slide-2-2x.png 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/hero/slide-2-mob.png    1x,
                    ./img/hero/slide-2-mob-2x.png 2x
                  "
                  media="(min-width: 320px)"
                />
                <img
                  class="swiper-images"
                  src="./img/hero/slide-2-mob.png"
                  alt="Slide-2"
                  width="226"
                  height="190"
                />
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source
                  srcset="
                    ./img/hero/slide-3.png    1x,
                    ./img/hero/slide-3-2x.png 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/hero/slide-3-mob.png    1x,
                    ./img/hero/slide-3-mob-2x.png 2x
                  "
                  media="(min-width: 320px)"
                />
                <img
                  class="swiper-images"
                  src="./img/hero/slide-3-mob.png"
                  alt="Slide-2"
                  width="226"
                  height="190"
                />
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source
                  srcset="
                    ./img/hero/slide-4.png    1x,
                    ./img/hero/slide-4-2x.png 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/hero/slide-4-mob.png    1x,
                    ./img/hero/slide-4-mob-2x.png 2x
                  "
                  media="(min-width: 320px)"
                />
                <img
                  class="swiper-images"
                  src="./img/hero/slide-4-mob.png"
                  alt="Slide-2"
                  width="226"
                  height="190"
                />
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source
                  srcset="
                    ./img/hero/slide-5.png    1x,
                    ./img/hero/slide-5-2x.png 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/hero/slide-5-mob.png    1x,
                    ./img/hero/slide-5-mob-2x.png 2x
                  "
                  media="(min-width: 320px)"
                />
                <img
                  class="swiper-images"
                  src="./img/hero/slide-5-mob.png"
                  alt="Slide-2"
                  width="226"
                  height="190"
                />
              </picture>
            </div>
          </div>
        </div>
        <div class="swiper-buttons">
          <button type="button" class="button-prev hero-button">
            <svg class="hero-button-icon" width="32" height="32">
              <use href="./img/icons.svg#icon-left-1"></use>
            </svg>
          </button>
          <button type="button" class="button-next hero-button">
            <svg class="hero-button-icon" width="32" height="32">
              <use href="./img/icons.svg#icon-right-1"></use>
            </svg>
          </button>
          <div class="hero-swiper-pagination"></div>
        </div>
        <div class="hero-content-pos">
          <p class="hero-content">
            Our watches are not just timepieces, but also an expression of your
            personality and lifestyle. From classic designs to modern ones, we
            have a watch to suit every taste and occasion.
          </p>
        </div>
      </div>
      <picture>
        <source
          srcset="./img/hero/hero.jpg 1x, ./img/hero/hero-2x.jpg 2x"
          media="(min-width: 1280px)"
        />
        <source
          srcset="./img/hero/hero-tab.jpg 1x, ./img/hero/hero-tab-2x.jpg 2x"
          media="(min-width: 768px)"
        />
        <source
          srcset="./img/hero/hero-mob.jpg 1x, ./img/hero/hero-mob-2x.jpg 2x"
          media="(min-width: 320px)"
        />
        <img
          class="hero-images"
          src="./img/hero/hero-mob.jpg"
          alt="Hero Watch"
          width="335"
          height="410"
        />
      </picture>
    </div>
  </div>
</section>
