<div class="overlay is-hidden" data-modal>
    <div class="modal-menu">
        <button class="modal-menu-close" data-modal-close type="button">
            <svg class="menu-close-icon" width="12" height="12">
                <use href="./img/icons.svg#icon-x-close"></use>
            </svg>
        </button>
        <div class="modal-watch-div">
            <img 
                class="catalog-list-image" 
                src="./img/catalog/desc-tablet/watch2.jpg"
                srcset="./img/catalog/desc-tablet/watch2@2x.jpg 2x" 
                width="276" 
                height="275"
                loading="lazy" alt="photo of watch">
                <p class="catalog-watch-name">Avondale Watch Police For Men</p>
                <span class="catalog-watch-price">&#x20ac;800</span>
        </div>
        <form class="modal-form">
            <div class="form-field">
                <label class="form-label" for="name">Full Name</label>
                    <input 
                        class="form-input" 
                        required 
                        pattern="^[a-zA-Z]+\s[a-zA-Z]+$" title="Username must be two words separated by space." 
                        type="text" 
                        placeholder="Enter your full name"
                        id="name"
                        name="user-name">
            </div>
            <div class="form-field">
                <label class="form-label" for="email">Email</label>
                    <input 
                        class="form-input" 
                        required 
                        type="email" 
                        placeholder="Enter your email"
                        id="email"
                        name="user-email">
            </div>
            <div class="form-field">
                <label class="form-label" for="name">Card number</label>
                    <input 
                        class="form-input"  
                        type="tel" 
                        placeholder="Card number"
                        maxlength="12"
                        id="name"
                        name="card-number">
            </div>
            <div class="form-field">
                <label class="form-label" for="comments">Comments</label>
                    <textarea class="form-input comment"
                    placeholder="Enter your text"
                    id="comments"
                    name="user-comments"></textarea> 
                        
            </div>
            <button class="form-submit" type="submit">SUBMIT</button>
            <p class="modal-policy">By clicking on “Submit” button, you agree to our <a class="policy-link" href="">Privacy Policy</a>, and allow Promodo to use this information for marketing purposes.</p>
        </form>
    </div>
</div>