<section class="new-watches section">
  <div class="container">
    <h2 class="new-watches-title">New watches</h2>
    <p class="new-watches-content">Green And Bronze—The Match Made In Heaven</p>
    <ul class="new-watches-list">
      <li class="new-watches-item">
        <picture>
          <source
            srcset="
              ./img/new-watch/hend-watch.jpg    1x,
              ./img/new-watch/hend-watch-2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/new-watch/hend-watch-tab.jpg    1x,
              ./img/new-watch/hend-watch-tab-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/new-watch/hend-watch-mob.jpg    1x,
              ./img/new-watch/hend-watch-mob-2x.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img
            class="new-watches-images"
            src="./img/new-watch/hend-watch-mob.jpg"
            alt="Hend Watch"
            width="335"
            height="260"
          />
        </picture>
      </li>
      <li class="new-watches-item">
        <picture>
          <source
            srcset="
              ./img/new-watch/black-watch.jpg    1x,
              ./img/new-watch/black-watch-2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/new-watch/black-watch-tab.jpg    1x,
              ./img/new-watch/black-watch-tab-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/new-watch/black-watch-mob.jpg    1x,
              ./img/new-watch/black-watch-mob-2x.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img
            class="new-watches-images"
            src="./img/new-watch/black-watch-mob.jpg"
            alt="Black Watch"
            width="335"
            height="260"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
